package views

import "server/model"

templ Blocked(quote *model.Quote) {
	<!DOCTYPE html>
	<html lang="en" style="height: 100%; width: 100%;">
		<head>
			<meta charset="UTF-8"/>
			<title>Blocked by Leo</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap" rel="stylesheet"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link
				href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&display=swap"
				rel="stylesheet"
			/>
			<script src="https://cdn.tailwindcss.com"></script>
			<style>
    p {
      font-family: Hedvig Letters;
    }
  </style>
		</head>
		<body class="w-full h-full flex justify-center items-center">
			<div class="w-9/12 flex flex-col items-center">
				<p class="mb-8 text-base text-center ">
					This page has been blocked.
				</p>
				<p class="mb-4 text-2xl text-center">“{ quote.Quote }”</p>
				<p class="mb-8 text-lg text-center">~{ quote.Author }</p>
			</div>
		</body>
	</html>
}
