<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadDisplayName</key>
    <string>Leo ({{ .DeviceHash }})</string>
    <key>PayloadDescription</key>
    <string>DNS over HTTPS for your device</string>
    <key>PayloadIdentifier</key>
    <string>studio.lemon3.dns.{{ .DeviceHash }}</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>{{ .UUID }}</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>PayloadType</key>
            <string>com.apple.dnsSettings.managed</string>
            <key>PayloadIdentifier</key>
            <string>studio.lemon3.dns.{{ .DeviceHash }}.settings</string>
            <key>PayloadUUID</key>
            <string>{{ .DNSUUID }}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
            <key>DNSSettings</key>
            <dict>
                <key>DNSProtocol</key>
                <string>HTTPS</string>
                <key>ServerURL</key>
                <string>{{ .ServerURL }}</string>
                <key>SupplementalMatchDomains</key>
                <array>
                    <string></string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
