<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadDisplayName</key>
    <string>Leo for {{ .DeviceName }}</string>
    <key>PayloadDescription</key>
    <string>Adds encrypted DNS configuration to iOS 14 (or newer) based systems</string>
    <key>PayloadIdentifier</key>
    <string>studio.lemon3.dns.{{ .DeviceHash }}</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>{{ .UUID }}</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
    <key>PayloadScope</key>
    <string>User</string>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>PayloadType</key>
            <string>com.apple.dnsSettings.managed</string>
            <key>PayloadIdentifier</key>
            <string>studio.lemon3.dns.{{ .DeviceHash }}.settings</string>
            <key>PayloadUUID</key>
            <string>{{ .DNSUUID }}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
            <key>DNSSettings</key>
            <dict>
                <key>DNSProtocol</key>
                <string>HTTPS</string>
                <key>ServerAddresses</key>
                <array/>
                <key>ServerURL</key>
                <string>{{ .ServerURL }}</string>
            </dict>
            <key>OnDemandRules</key>
            <array>
                <dict>
                    <key>Action</key>
                    <string>Connect</string>
                </dict>
            </array>
            <key>PayloadDescription</key>
            <string>Configures device to use Leo Encrypted DNS over HTTPS</string>
            <key>PayloadDisplayName</key>
            <string>Leo DNS over HTTPS</string>
            <key>ProhibitDisablement</key>
            <false/>
        </dict>
    </array>
</dict>
</plist>
