package view

import "server/model"

templ Blocked(quote *model.Quote) {
	<!DOCTYPE html>
	<html lang="en" style="height: 100%; width: 100%;">
		<head>
			<meta charset="UTF-8"/>
			<title>Blocked by Leo</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<style>
    p {
      font-family: Hedvig Letters Serif;
    }
  </style>
		</head>
		<body class="w-full h-full flex justify-center items-center">
			<div class="w-9/12 flex flex-col items-center">
				<p class="mb-8 text-xl text-center ">
					This page has been blocked by <a href="https://lemon3.studio" class="underline">Leo</a>.
				</p>
				<p class="mb-4 text-5xl text-center">“{ quote.Quote }”</p>
				<p class="mb-8 text-2xl text-center">~{ quote.Author }</p>
			</div>
		</body>
	</html>
}
