package view

import "server/model"

templ Blocked(quote *model.Quote) {
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Blocked by Leo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full flex justify-center px-60">
  <div>
    <p class="w-full mb-8 text-xl text-center font-serif">This page has been blocked by Leo.</p>
    <p class="w-full text-6xl text-center font-serif">"{ quote.Quote }"</p>
    <p class="w-full text-3xl text-end font-serif">~{ quote.Author }</p>
  </div>
</body>

</html>
}
